<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<dict>
		<key>admin2@gmail.com</key>
		<string>123456</string>
		<key>admin3@gmail.com</key>
		<string>123456</string>
		<key>admin4@gmail.com</key>
		<string>123456</string>
		<key>admin5@gmail.com</key>
		<string>123456</string>
		<key>admin1@gmail.com</key>
		<string>123456</string>
	</dict>
</dict>
</plist>
